body {
    font-family: Helvetica Light, sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /* Hack to fix some Bootstrap incompatibility */

#main-container{
    min-width: 1000px;
    width: 62vw;
    margin: auto;
}

#logo{
    max-width: 15vw;
    height: auto;
    margin-top: 2%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1%;
}

#header{
    padding: 1% 0 1% 2vw;

    text-align: left;

    color: white;

    background-color: #00B92E;
}

/* LOGIN DIALOGUE */

#login-dialogue{
    padding: 5% 0;

    background-color: #f0f0f0;
}

#username {
    margin-bottom: 2%;
    color: #00B92E;
}

#password {
    margin-bottom: 2%;
    color: #00B92E;
}

input[type="text"]{
    border: hidden;
    width: 12vw;
    height: 4%;
    color: #777373;
}
input[type="text"]:focus{
    outline: none;
}

input[type="password"]{
    border: hidden;
    width: 12vw;
    height: 4%;
    color: #777373;
}
input[type="password"]:focus{
    outline: none;
}

#login-error-message{
    height: 3%;
    color: red;
    font-size: 80%;
    font-weight: 100;
}

button {
    background-color: #31A73A;

    color: white;
    font-weight: 100;

    border: hidden;
    border-radius: 2px;

    padding: 3% 6vw;

    outline: none;
}


/* CONFIGURATION DIALOGUE */

#configuration-dialogue {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-direction: row;

    height: 75%;
}

/* THIS REALLY IS RIGHT COLUMN */
/* sorry */

#left-column {
    order: 1;
    width: 50%;


    padding: 5% 2vw 5% 2vw;

    background-color: #f0f0f0;

    font-weight: 100;
}

h5 {
    float: left;

    color: #00B92E;

    font-size: 100%;
    font-weight: 100;
}

/* VENUE SELECT */

#venue-container{
    order: 1;

    margin-bottom: 5%;
}

#ui-select{
    float: left;

    width: 40%;

    margin-left: 3vw;
    margin-top: 1%;

    outline: none;
}

/* REALTIME SELECT */

#realtime-container{
    order: 2;

    margin-bottom: 5%;

    min-height: 12%;
}

#realtime-toggle{
    padding-top: 2%;
    margin-left: 39%;
    max-width: 15vw;

    font-size: 70%;
}

/* TOGGLE */
.switch {
    /* frame */
    width: 60px;
    height: 20px;
    margin-bottom: 2%;
}

.switch .switch-text {
    font-family:Helvetica, sans-serif;
    font-size:12px;
    font-weight: 100;
}

.switch .on {
    /* Left text */
    top: 10%;
    left: 23%;
}

.switch .off {
    /* Right text */
    top: 10%;
    right: 15%;
}

.switch.checked {
    /* Frame when enabled */
    background-color: #79D093;
    border-color: #79D093; /* so that the size remains the same*/
}

.switch small {
    /* Button */
    height: 145%;
    width: 48%;
    margin-top: -6%;

    background-color: #31A73A;

    box-shadow: none;
}

.switch.checked small {
    left: 63%;
}

/* FREQUENCY SELECT */
#frequency-container {
    order: 3;

    margin-bottom: 5%;
}

#frequency-ratio {
    font-weight: 500;
}

#frequency-text{
    float: left;

    font-size: 70%;

    margin-bottom: 3%;
}

#slider-text-right{
    float: right;
    font-size: 80%;
    font-weight: 100;
    color: #99D59A;
}

#slider-text-left{
    font-size: 80%;
    font-weight: 100;
    color: #9ABCD1;
}

/* GENERATED BY http://danielstern.ca/range.css/#/ */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.2px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15.6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #79d093;
    border-radius: 25px;
    border: none;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #31a73a, 0px 0px 0px #37bb41;
    border: 0px solid #31a73a;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #31a73a;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #79d093;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 15.6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #79d093;
    border-radius: 25px;
    border: none;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #31a73a, 0px 0px 0px #37bb41;
    border: 0px solid #31a73a;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #31a73a;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 15.6px;
    cursor: pointer;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #79d093;
    border: 0px solid #79d093;
    border-radius: 50px;
    box-shadow: none;
}
input[type=range]::-ms-fill-upper {
    background: #79d093;
    border: 0px solid #79d093;
    border-radius: 50px;
    box-shadow: none;
}
input[type=range]::-ms-thumb {
    box-shadow: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #31a73a;
    cursor: pointer;
    height: 15.6px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #79d093;
}
input[type=range]:focus::-ms-fill-upper {
    background: #79d093;
}

/* SUBMIT BUTTON */
#submit-container{
    order: 4;
    margin: auto;
    padding-top: 3%;
}

/* ERROR MESSAGE FIELD */
#config-error-message{
    order: 5;
    margin: auto;
    color: red;
    font-size: 70%;
    font-weight: 100;
}

/* THIS REALLY IS LEFT COLUMN */

#right-column {
    order: 2;
    width: 50%;
    min-height: 60%;

    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-direction: column;
    -webkit-flex-flow: column nowrap;

    text-align:left;

    padding: 4% 2vw;

    color: #777373;
    /*letter-spacing: 1px;*/
    font-weight: 100;
}

h2{
    color: #00B92E;

    font-size: 200%;
    font-weight: 100;

    margin-bottom: 5%;
}

#youtube-iframe {
    margin-top: 8%;

    min-height: 243px;
    min-width: 432px;
}