<html ng-app="sdk">
<head lang="en">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.0/select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://enplug.com/assets/style/css/fonts.css">
    <link rel="stylesheet" href="angular-ui-switch.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.0/select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://code.angularjs.org/1.3.13/angular-sanitize.min.js"></script>
    <script src="https://enplug.com/sdk/1.0.0/angular-enplug.js"></script>
    <script src="angular-ui-switch.min.js"></script>

    <link rel="stylesheet" type="text/css" href="staffino-config-styles.css">
    <script type="text/javascript" src="staffino-config-controller.js"></script>
</head>

<body ng-controller="StaffinoConfigController">

    <div>
        <img id="logo"
             src="staffino_logo_final.png">
    </div>

    <div id="main-container">
        <div id="header">
            {{loggedIn ? "Configuration": "Login"}}
        </div>

        <!-- TODO: figure out inheritance of ng-show-->
        <div id="login-dialogue"
             ng-show="!loggedIn"
                >
            <div id="username"
                 ng-show="!loggedIn">
                <span>Username: </span>
                <input type="text"
                       name="username"
                       ng-model="email"
                       ng-focus="errorMessage = ''"
                       required
                        >
            </div>
            <div id="password"
                 ng-show="!loggedIn">
                <span>Password: </span>
                <input type="password"
                       name="password"
                       ng-model="password"
                       ng-focus="errorMessage = ''"
                       required
                       min="5">
            </div>
            <div id="login-error-message">
                {{errorMessage}}
            </div>
            <div id="login-button"
                 ng-show="!loggedIn">
                <button ng-click="logIn()">LOGIN</button>
            </div>
        </div>

        <div id="configuration-dialogue"
             ng-show="loggedIn"
                >
            <div id="left-column">
                <h2>How it works?</h2>
                <div >Through Staffino your customers can leave feedback specifically to your staff. Make your venue a
                    better place to work at by showing real-time appreciations from customers directly on the
                    screen. It makes staff happier, it makes customers to spend more.</div>
                <iframe id="youtube-iframe" src="https://www.youtube.com/embed/fsshnqanBL4?autohide=1&color=white&showinfo=0" frameborder="0" allowfullscreen></iframe>


            </div>
            <div id="right-column">
                <div id="venue-container">
                    <h5>Select your venue: </h5>
                    <ui-select id="ui-select"
                               ng-model="venue.selected"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               on-select="selectedVenue($item)"
                            >
                        <ui-select-match placeholder="Select venue">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="venue in venues | filter: {name: $select.search}">
                            <div id="ui-name"
                                 ng-bind-html="venue.name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div id="realtime-container">
                    <h5>Real time feedbacks:</h5>
                    <div id="realtime-toggle">
                        <switch id="enabled" name="enabled" ng-model="settings.realtime" on="yes" off="no" ></switch>

                        <div ng-show="settings.realtime">We will display last 20 feedback items customers left at your venue.
                        </div>

                        <div ng-show="!settings.realtime">We will display 20 feedback items you specifically select in your
                            account on app.staffino.com</div>
                    </div>
                </div>

                <div id="frequency-container">
                    <h5>Ask for feedback   vs.   display feedback? <span id="frequncy-ratio"> ({{ratio}}) </span> </h5>
                    <div id="frequency-text">
                        The more right you set the bar, the more feedback we will display to your staff and customers.
                        If you push the bar more to the left, we will show a video explaining your customers how to
                        leave feedback through Staffino more.
                    </div>
                    <input type="range"
                           ng-model="settings.videoFrequency"
                           ng-change="updateRatio()"
                           min="-10"
                           max="30">
                    <span id="slider-text-left" >
                        Ask for feedback
                    </span>
                    <span id="slider-text-right" >
                        Display feedback
                    </span>
                </div>
                <div id="config-error-message">
                    {{errorMessage}}
                </div>
                <div id="submit-container">
                    <button ng-click="submitForm()">SAVE CONFIGURATION</button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>